<div class="main-website-structure">
{{>nav2}}
<div class="website-body">
    {{>topics}}
    <div class="content"> <!--Posts to be added-->
        {{>contentheader}}
        <div class="post-margin">
            <div class="post-area" id="post-area">
                <div class="post-create">
                    <form action="newPost" method="post">
                        <div class="post-form">
                            <div class="post-texts">
                                <input type="text" name="post-title" id="post-title" class="enter-post-title" placeholder="Title" required>
                                <textarea name="postDesc" rows="2" cols="50" id="post-description" class="enter-post-desc" placeholder="Write your post here..." required></textarea>
                            </div>
                            <div class="post-buttons">
                                <div class="post-buttons-top">
                                    <select name="post-tag" id="post-genre" required>
                                        <option value="" disabled selected>Select Tag</option>
                                        <option>Action</option>
                                        <option>Adventure</option>
                                        <option>Comedy</option>
                                        <option>Drama</option>
                                        <option>Fantasy</option>
                                        <option>Romance</option>
                                        <option>Slice of Life</option>
                                        <option>Science Fiction</option>
                                        <option>Horror</option>
                                        <option>Mystery</option>
                                    </select>
                                </div>
                                <div class="post-buttons-bottom">
                                    <label for="file-input" class="post-image">
                                        <img id="filepic" src="https://cdn.pixabay.com/photo/2017/11/10/04/47/image-2935360_1280.png"/>
                                        </label>
                                        <input id="file-input" type="file"/>
                                        <button type="submit" id="submit-post">Post</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {{#each posts}}
                <div class="post" data-post-id="{{_id}}">
                    <div class="post-header" >
                        <div class="post-title">
                            <h2>{{title}}</h2>
                        </div>
                            <h4>{{genre}}</h4>
                        <div class="post-profile">
                            <img src="{{profilepicture}}">
                        </div>
                        <h4>{{username}}</h4>
                        <h6>{{date}}</h6>
                    </div>
                    <div class="post-body">{{description}}</div>
                    <div class="post-img">
                        <img src={{image}}>
                    </div>
                    <div class="post-action">
                        <i class="fa fa-thumbs-up like" data-post-id="{{_id}}">{{like}}</i>
                        <i class="fa fa-thumbs-down dislike" data-post-id="{{_id}}">{{dislike}}</i>
                        <button class="toggle-comment-section">Comments</button>
                    </div>
                    <div id="comment-section"  class="comment-section">
                        <div class="comment-container">
                            {{#each comments}}
                            <div class="comment-text">
                                <div class="comment-user">
                                    <p>{{user}}</p>
                                </div>
                                <p>{{text}}</p>

                            </div>
                        {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{>filterPosts}}
</div>
</div>