<div class="main-website-structure">
{{>nav2}}
<div class="website-body">
    {{>topics}}
    <div class="content"> <!--Posts to be added-->
        <div class="content-header">
            <img src="https://i.pinimg.com/originals/14/b2/ca/14b2ca100b1b979983bdfdd24eac8a48.jpg"/>
        </div>
        <div class="post-margin">
            <div class="post-area">
                {{#with post}}
                <div class="post">
                    <div class="post-header">
                        <div class="post-title">
                            <h2>{{title}}</h2>
                        </div>
                            <h4>{{genre}}</h4>
                        <div class="post-profile">
                            <img src={{profile}}>
                        </div>
                        <h4>{{username}}</h4>
                        <h6>{{date}}</h6>
                    </div>
                    <div class="post-body">{{description}}</div>
                    <div class="post-img">
                        <img src={{image}}>
                    </div>
                    <div class="post-action">
                        <i class="fa fa-thumbs-up like" data-post-id="{{_id}}">{{like}}</i>
                        <i class="fa fa-thumbs-down dislike" id="{{_id}}">{{dislike}}</i>
                        <button class="toggle-comment-section">Comments</button>
                    </div>
                    <div class="comment">
                        <div class="comment-form">
                            <textarea placeholder="Write your comment here..." id="comment-data"></textarea>
                            <button type="button" id="submit-comment"><h4>Comment</h4></button>
                        </div>
                    </div>
                    <div class="comment-section">
                        <div class="comment-container">
                            {{#each comment}}
                            <div class="comment-text">
                                <div class="comment-user">
                                    <p>{{user}}</p>
                                </div>
                                <p>{{comment}}</p>
                            </div>
                        {{/each}}
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>

    {{>filterPosts}}
</div>
</div>