{{>logReg}}
<div class="main-website-structure">
{{>nav1}}
<div class="website-body">
    {{>topics}}
    <div class="content"> <!--Posts to be added-->
        {{>contentheader}}
        <div class="post-margin">
            <div class="post-area">
                {{#each posts}}
                <div class="post">
                    <div class="post-header">
                        <div class="post-title">
                            <h2>{{post-title}}</h2>
                        </div>
                        <div class="post-profile">
                            <img src={{post-profile}}>
                        </div>
                        <h4>{{username}}</h4>
                        <h6>{{post-time}}</h6>
                    </div>
                    <div class="post-body">{{post-desc}}</div>
                    <div class="post-img">
                        <img src={{post-image}}>
                    </div>
                    <div class="post-action">
                        <i class="fa fa-thumbs-up"></i>{{post-thumbs.up}}
                        <i class="fa fa-thumbs-down"></i>{{post-thumbs.down}}
                        <button class="toggle-comment-section">Comments</button>
                    </div>
                    <div class="comment-section">
                        <div class="comment-container">
                            {{#each post-comments}}
                            <div class="comment-text">
                                <div class="comment-user">
                                    <p>{{commentUser}}</p>
                                </div>
                                <p>{{comment}}</p>
                            </div>
                        {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    
    {{>filterPosts}}
</div>
</div>